{% extends 'admin.layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ assets('/assets/css/admin/devis.css') }}">
{% endblock %}

{% block title %}
    <title>Mes devis</title>
{% endblock %}

{% block body %}
    <section>
        <h1>Liste des devis</h1>

        <table>
            <thead>
                <tr>
                    <th>Nom du client</th>
                    <th>Prénom du client</th>
                    <th>PDF</th>
                    <th>Etat</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for devi in devis %}
                    <tr>
                        <td>{{ devi.prospect.nom }}</td>
                        <td>{{ devi.prospect.prenom }}</td>
                        <td>{{ devi.pdfPath }}</td>
                        <td class="etat">
                            {% if devi.getVu is same as false %}
                            0
                            {% endif %}
                            {% if devi.getVu is same as true %}
                            1
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{path('affichePdf', {filename: devi.pdfPath})}}">Voir</a><br>
                            <a href="{{path('deleteDevis', {id: pdf.id})}}">Supprimer</a><br>
                            <a href="{{path('switchVu', {id: devi.id})}}">Switch état</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </section>


{% endblock %}
{% block scripts %}
    <script src="{{ assets('/assets/js/lisible.js') }}"></script>
{% endblock %}