{% extends 'admin.layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ assets('/assets/css/admin/messages.css') }}">
{% endblock %}

{% block title %}
    <title>Mes messages</title>
{% endblock %}

{% block body %}
    <section>
        <h1>Liste des messages</h1>
        <p>Pour le bien être de votre site, supprimez vos messages quand ils sont traités</p>

        <table>
            <thead>
                <tr>
                    <th>Nom du prospect</th>
                    <th>Prénom du prospect</th>
                    <th>Message</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for message in messages %}
                    <tr>
                        <td>{{message.prospect.nom}}</td>
                        <td>{{message.prospect.prenom}}</td>
                        <td>{{message.message}}</td>
                        <td>
                            <a href="{{path('deleteMess', {id: message.id})}}">Supprimer</a><br>
                            <a href="{{path('prospect', {id: message.prospect.id})}}">Voir prospect</a>
                            
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </section>


{% endblock %}