{% extends 'admin.layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ assets('/assets/css/admin/prospects/prosp.css') }}">
    <link rel="stylesheet" href="{{ assets('/assets/css/admin/suppr.css') }}">
{% endblock %}

{% block title %}
    <title>Prospect à l'unité</title>
{% endblock %}

{% block body %}
    <a href="{{path('prospects')}}" id="retour"><img src="{{ assets('/assets/imgs/icone/left-arrow.webp') }}" alt="flèche retour"> Retour aux prospects</a>
    <h1>Prospect {{prospect.nom}} {{prospect.prenom}}</h1>
    <p><span>Attention</span> toute action de votre part sur le prospect ou ses messages/devis est définitive.</p>
    <h2>Les informations de {{prospect.nom}} {{prospect.prenom}}</h2>
    <table class="infos">
        <tbody>
                <tr>
                    <td>{{prospect.nom}}</td>
                </tr>
                <tr>
                    <td>{{prospect.prenom}}</td>
                </tr>
                <tr>
                    <td>{{prospect.mail}}</td>
                </tr>
                <tr>
                    <td>{{prospect.phone}}</td>
                </tr>
        </tbody>
    </table>
    
    <div class="opts">
        <a href="{{path('updateProspect', {id: prospect.id})}}">Modifier le prospect</a>
        <p class="suppresse">Supprimer</p>
    </div>
    <section class="suppre agentDormant">
        <p>Confirmez-vous la suppression du prospect ?</p>
        <a href="{{path('deleteProspect', {id: prospect.id})}}">Supprimer</a>
        <p onclick="shutDowne()">Annuler</p>
    </section>

    
    

    <h2>Les messages de {{prospect.nom}} {{prospect.prenom}}</h2>
    <section>
        <table>
            <thead>
                <tr>
                    <th>Messages(s)</th>
                    <th>Etat</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for message in messages %}
                    <tr>
                        <td>{{message.message}}</td>
                        <td class="etat">{{message.traite}}</td>
                        <td>
                            <p class="suppress">Supprimer</p>
                        </td>
                        
                    </tr>
                    <section class="suppr agentDormant">
                        <p>Confirmez-vous la suppression du message ?</p>
                        <a href="{{path('deleteMess', {id: message.id})}}">Supprimer</a>
                        <button onclick="shutDown(event)">Annuler</button>
                    </section>
                {% endfor %}
            </tbody>
        </table>
        

    </section>


{% endblock %}
{% block scripts %}
    <script src="{{ assets('/assets/js/lisible.js') }}"></script>
    <script src="{{ assets('/assets/js/suppr.js') }}"></script>
{% endblock %}