{% extends 'admin.layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ assets('/assets/css/admin/chantiers/chantiers.css') }}">
{% endblock %}

{% block title %}
    <title>Nos chantiers</title>
{% endblock %}

{% block body %}
    
    <section>
        <h1>Tous mes chantiers</h1>
        <a href="{{path('addChantier')}}" id="add">Ajouter un chantier</a>
        <form>
            <input type="text" id="searche" onkeyup="input()" placeholder="Rechercher...">
            <div id="azert"></div>
        </form>
        <p id="att"><span>Attention</span> la suppression ou la modification d'un chantier est définitive.</p>
        
        <section>
            {% for chantier in chantiers %}
            <article>
                <div class="img">
                    <img src="{{assets('/assets/imgs/chantiers/'~ chantier.getImgPathChantier()) }}">
                </div>
                <div class="txt">
                    <p>{{chantier.nomChantier}}</p>
                    <p>{{chantier.dateChantier}}</p>
                    <p>{{chantier.lieu}}</p>
                    <p>{{chantier.desc}}</p>
                    <a href="{{path('adminChantier', {id: chantier.id})}}">Voir le chantier</a>
                    <a href="{{path('updateChantier', {id: chantier.id})}}">Ajouter une photo</a><br>
                    <a href="{{path('updatePresChantier', {id: chantier.id})}}">Modifier la présentation du chantier</a>
                    
                </div>
            </article>
            {% endfor %}
        </section>
        
    </section>

{% endblock %}
{% block scripts %}
    <script src="{{ assets('/assets/js/search.js') }}"></script>
{% endblock %}