{% extends 'layout.html.twig' %}

{% block meta %}
    <meta name="description" content="La liste de la plupart des chantiers que nous avons réalisé, avec leur description et photos.">
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ assets('/assets/css/chantiers/chantiers.css') }}">
    <link rel="stylesheet" href="{{ assets('/assets/css/mediaQ/chantQ.css') }}">
{% endblock %}

{% block title %}
    <title>{{siteName}} ~ Nos chantiers</title>
{% endblock %}

{% block body %}

    <h1 class="lang" key="chants">Tous nos chantiers</h1>
    
    <section class="chantiers" id="paginated-list" aria-live="polite">
        {% for chantier in chantiers %}
        <article>
            {% set seo = chantier.nomChantier|replace({' ':'_'}) %}
            {% set seo1 = chantier.lieu|replace({' ':'_'}) %}
            <div>
                <a href="{{path('chantier', {id: chantier.id,lieu:seo1,nomC:seo})}}">
                    <img src="{{assets('/assets/imgs/chantiers/'~chantier.imgPathChantier) }}" alt="image représentant du chantier">
                </a>
            </div>
            <div>
                <h2>{{chantier.nomChantier}}</h2>
                <p>{{chantier.dateChantier}}</p>
                <p>{{chantier.lieu}}</p>
                <p>{{chantier.desc}}</p>

                <a href="{{path('chantier', {id: chantier.id,lieu:seo1,nomC:seo})}}"><span class="lang" key="know">En savoir plus</span> <img src="{{ assets('/assets/imgs/icone/chevron.webp') }}" alt="fleche"></a>
            </div>
        </article>
        {% endfor %}
    </section>
    <nav class="pagination-container">
        <button class="pagination-button" id="prev-button" title="Previous page" aria-label="Previous page">
            &lt;
        </button>
          
        <div id="pagination-numbers">
        </div>
          
        <button class="pagination-button" id="next-button" title="Next page" aria-label="Next page">
            &gt;
        </button>

    </nav>



{% endblock %}
{% block scripts %}
    <script src="{{ assets('/assets/js/pagination.js') }}"></script>
{% endblock %}