{% extends 'layout.html.twig' %}

{% block meta %}
    <meta name="description" content="Vous avez accès à une description du chantier ainsi que les photographies prises sur le site.">
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ assets('/assets/css/chantiers/chantier.css') }}">
    <link rel="stylesheet" href="{{ assets('/assets/css/mediaQ/chantierQ.css') }}">
{% endblock %}

{% block title %}
    <title>{{siteName}} ~ Nos chantiers</title>
{% endblock %}

{% block body %}
    <a href="{{path('chantiers')}}" id="retour"><img src="{{ assets('/assets/imgs/icone/left-arrow.png') }}" alt="flèche retour"> Retour aux chantiers</a>

    <h1>{{chantier.nomChantier}}</h1>
    <p>{{chantier.dateChantier}} ~ {{chantier.lieu}}</p>

    <section>
        {% for photo in photos %}
        <article>
            <img src="{{assets('/assets/imgs/chantiers/'~ photo.imgPath) }}" alt="Photo provenant du chantier">
            <details>
                <summary>En savoir plus</summary>
                <p>{{photo.descImg}}</p>
            </details>
        </article>
        {% endfor %}
    </section>
{% endblock %}


