{% extends 'layout.html.twig' %}

{% block meta %}
    <meta name="description" content="Vous avez accès à une description du chantier ainsi que les photographies prises sur le site.">
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ assets('/assets/css/chantiers/chantier.css') }}">
    <link rel="stylesheet" href="{{ assets('/assets/css/mediaQ/chantierQ.css') }}">
{% endblock %}

{% block title %}
    <title>{{siteName}} ~ Nos chantiers</title>
{% endblock %}

{% block body %}
    {# <a href="{{path('chantiers')}}" id="retour"><img src="{{ assets('/assets/imgs/icone/left-arrow.webp') }}" alt="flèche retour"> <span class="lang" key="goBack">Retour aux chantiers</span></a> #}
     <p id="retour" onclick="rtn()"><img src="{{ assets('/assets/imgs/icone/left-arrow.webp') }}" alt="flèche retour"> <span class="lang" key="goBack">Retour aux chantiers</span></p>

    <h1>{{chantier.nomChantier}}</h1>
    <p>{{chantier.dateChantier}} ~ {{chantier.lieu}}</p>

    <section>
        <div>
            {% for photo in photos %}
            <article class="grand" id="gd_{{photo.id}}">
                <img src="{{assets('/assets/imgs/chantiers/'~ photo.imgPath) }}" alt="Photo provenant du chantier">
                <div>
                    <p>{{photo.descImg}}</p>
                </div>
            </article>
            {% endfor %}

            <img src="{{assets('/assets/imgs/chantiers/'~chantier.imgPathChantier) }}" alt="image représentant du chantier" id="img1" style="opacity:1">

        </div>
        


        <aside>
            {% for photo in photos %}
            <article class="miniature"  id="mini_{{photo.id}}">
                <img src="{{assets('/assets/imgs/chantiers/'~ photo.imgPath) }}" alt="Photo provenant du chantier">
            </article>
            {% endfor %}
        </aside>
    </section>

{% endblock %}
{% block scripts %}
    <script src="{{ assets('/assets/js/chantier.js') }}"></script>
{% endblock %}


