{% extends 'admin.layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ assets('/assets/css/admin/chantiers/updateChantier.css') }}">
{% endblock %}

{% block title %}
    <title>Nos chantiers</title>
{% endblock %}

{% block body %}
    <a href="{{path('adminChantier', {id: chantier.id})}}" id="retour"><img src="{{ assets('/assets/imgs/icone/left-arrow.png') }}" alt="flèche retour"> Retour au chantier</a>

    <h1>Chantier {{chantier.nomChantier}}</h1>
    <p id="att"><span>Attention</span> la suppression d'une photo est définitive.</p>

    <h2>Ajouter une image</h2>
    <p>Les images doivent être de type png, jpeg ou jpg et d'une taille maximale de 2MO.</p>
    <form method="POST" enctype="multipart/form-data">
        <input name="img" type="file">
        <label for="txt">Ajouter la description :</label>
        <textarea name="txt" maxlength="210" rows="5"></textarea>
        {{csrf()}}
        <input type="submit">
    </form>

    <h2>Les images déjà présente dans {{chantier.nomChantier}}</h2>
    <section>
        {% for photo in photos %}
        <article>
            <div class="img">
                <img src="{{assets('/assets/imgs/chantiers/'~ photo.getImgPath()) }}">
            </div>
            <div class="txt">
                <p>{{photo.descImg}}</p>
            </div>
            
        </article>
        {% endfor %}
    </section>


{% endblock %}