{% extends 'layout.html.twig' %}

{% block meta %}
    <meta name="description" content="Entreprise de rénovation spécialisée dans la réhabilitation de vos espaces intérieurs et extérieurs, notre zone d'intervention comprend la Moselle (57), le Luxembourg (Lux), le Bas Rhin (67) ainsi que les Bouches-du-Rhône (13).
    Notre équipe réalise tous vos projets sur mesure, de la conception à la réalisation. Contactez-nous dès maintenant pour obtenir un devis gratuit
    et profitez d'une expertise de qualité pour donner vie à vos idées.">
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ assets('/assets/css/user/accueil.css') }}">
    <link rel="stylesheet" href="{{ assets('/assets/css/mediaQ/accueilQ.css') }}">
{% endblock %}

{% block title %}
    <title>{{siteName}} ~ entreprise de rénovation</title>
{% endblock %}


{% block body %}

    {# animation #}
    <section id="anim">
        <div>
            <img src="{{ assets('/assets/imgs/icone/boot.png') }}" alt="icone représentant une chaussure de chantier" class="boot" id="leftShoe">
            <img src="{{ assets('/assets/imgs/icone/boot.png') }}" alt="icone représentant une chaussure de chantier" class="boot" id="rightShoe">
            <img src="{{ assets('/assets/imgs/icone/bucket.png') }}" alt="icone représentant un seau de peinture" id="bucket">
            <img src="{{ assets('/assets/imgs/icone/handBucket.png') }}" alt="icone représentant un seau de peinture avec une main qui le porte" id="handBucket">
            <img src="{{ assets('/assets/imgs/logo/logoTtNu.png') }}" alt="tâche de peinture" id="dirt">
            <img src="{{ assets('/assets/imgs/logo/logo_titre.png') }}" alt="image du logo avec le nom de l'entreprise" id="logo_titre">
        </div>
        
        

    </section>
    <section id="useJS">
        <my-p class="lang" key="useJS">Merci d'activer Javascript si vous souhaitez envoyer une demande de devis ou profiter d'une expérience utilisateur optimale : carousel, loader etc</my-p>
    </section>
    <section id="intro">
        <img src="{{ assets('/assets/imgs/photos/paint-brush.jpg') }}" alt="Image décorative représentant des outils de peinture">
        <img src="{{ assets('/assets/imgs/photos/portableA.jpg') }}" alt="Image décorative représentant des outils" class="mediaQ" id="img2">
        <div>
            <h1><my-p  class="lang" key="h1Acc">Pourquoi choisir</my-p>{{siteName}} ?</h1>
            <p id="blo" class="lang" key="blo">Pour tous vos projets de rénovation, nous vous proposerons un design unique, un suivi rigoureux, avec une attention particulière à votre satisfaction.<br>N'attendez plus, il n'y a qu'un pas entre vos rêves et vous.</p>
            <ol>
                <li><a href="{{path('aPropos')}}" class="lang" key="aPropos">À propos de nous </a><img src="{{ assets('/assets/imgs/icone/chevron.png') }}" alt="flèche"></li>
                <li><a href="{{path('chantiers')}}" class="lang" key="ourWork">Tous nos chantiers
                </a><img src="{{ assets('/assets/imgs/icone/chevron.png') }}" alt="flèche"></li>
                <li><a href="{{path('contact')}}" class="lang" key="contactUs">Nous contacter
                </a><img src="{{ assets('/assets/imgs/icone/chevron.png') }}" alt="flèche"></li>
            </ol>



            <h2 class="lang" key="etapes">Les étapes de votre idée jusqu'à sa réalisation</h2>
            <ul>
                <li class="lang" key="etape1">Demande de devis en ligne</li>
                <li class="lang" key="etape2">Rencontre avec l'équipe commerciale</li>
                <li class="lang" key="etape3">Réception du devis définitif</li>
                <li class="lang" key="etape4">Début des travaux</li>
                <li class="lang" key="etape5">Suivi permanent avec le chef de projet</li>
                <li class="lang" key="etape6">Livraison du projet, prêt à vivre</li>
            </ul>
        </div>

    </section>
    <button id="dev"><a href="{{path('devis')}}" class="lang" key="btnDevis">Demander un devis</a></button>
    

{% endblock %}

{% block scripts %}
    <script src="{{ assets('/assets/js/animAccueil.js') }}"></script>
{% endblock %}
