{% extends 'layout.html.twig' %}

{% block meta %}
    <meta name="description" content="Découvrez notre entreprise ainsi que ses valeurs.">
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ assets('/assets/css/user/aPropos.css') }}">
    <link rel="stylesheet" href="{{ assets('/assets/css/mediaQ/propG.css') }}">
{% endblock %}

{% block title %}
    <title>{{siteName}} ~ À propos de nous</title>
{% endblock %}

{% block body %}

    <section id="video">
        <iframe width="770" height="433" src="https://www.youtube.com/embed/p62zBygd5RQ" title="TIMELAPSE 1 AN DE RÉNOVATION - CETTE MAISON ABANDONNÉE REVIENT À LA VIE !" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <blockquote class="lang" key="blockquote">Parce qu'une image vaut mille mots</blockquote>
    </section>

    <h1 class="lang" key="values">Nos valeurs</h1>
    <section id="values">
        <article>
            <h3 class="lang" key="entFam">Une entreprise familiale</h3>
            <p class="lang" key="entFa">Engagés et à l'écoute, nous faisons notre possible pour vous garantir une performance à la hauteur de vos attentes. Notre entreprise à taille humaine nous permet une communication transversale qui vous assure des réponses rapides et définitives. Notre but, votre satisfaction.</p>
            <img src="{{ assets('/assets/imgs/icone/valeur.webp') }}" alt="icone représentant une entreprise et ses employés">
        </article>
        <article>
            <h3 class="lang" key="entEco">Une rénovation éco-friendly</h3>
            <p class="lang" key="entEc">Nous avons conscience de l'impact que nous avons sur la planète, c'est pour cela que nous utilisons exclusivement des peintures à l'eau respectant des normes élevées. De plus, nous nous fournissons exclusivement chez des enseignes qui ont à cœur leur empreinte écologique.</p>
            <img src="{{ assets('/assets/imgs/icone/planete.webp') }}" alt="icone représentant une entreprise et ses employés">
        </article>
        <article>
            <h3 class="lang" key="entSuivi">Un suivi personnalisé</h3>
            <p class="lang" key="entSuiv">Parce que chaque projet est unique, nos designs le sont aussi. Notre équipe commerciale assure un suivi complet de votre projet afin de vous assurer une réalisation sur mesure de vos idées. Des conseils ciblés et une disponibilité à tout instant, nous faisons de nos clients notre priorité. </p>
            <img src="{{ assets('/assets/imgs/icone/devis.webp') }}" alt="icone représentant une entreprise et ses employés">
        </article>

    </section>

    <section id="rea">
        <h2 ><a href="{{path('chantiers')}}" class="lang" key="rea">Nos réalisations</a></h2>
        <h3 class="lang" key="lastProj">Nos derniers projets</h3>
        <section id="blur">
            {% for chantier in chantiers %}
                <article>
                    
                        <a href="{{path('chantier', {id: chantier.id})}}">
                            <img src="{{assets('/assets/imgs/chantiers/'~chantier.imgPathChantier) }}" alt="image représentant du chantier">
                        </a>
                    
                </article>
            {% endfor %}
        </section>
    </section>
    

{% endblock %}

