{% extends 'layout.html.twig' %}

{% block meta %}
    <meta name="description" content="Vous êtes intéressé par nos services ? Vous pouvez à tout moment réaliser un devis en ligne, après étude de votre dossier, un commercial vous accompagneras dans la suite des démarches.">
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ assets('/assets/css/user/devis/devis.css') }}">
    <link rel="stylesheet" href="{{ assets('/assets/css/user/devis/devis1.css') }}">
    <link rel="stylesheet" href="{{ assets('/assets/css/user/devis/devis2.css') }}">
    <link rel="stylesheet" href="{{ assets('/assets/css/mediaQ/devisQ.css') }}">

{% endblock %}

{% block title %}
    <title>{{siteName}} ~ Devis en ligne</title>
{% endblock %}

{% block body %}
    
    <div id="swipe">
        
        <my-alert class="hideAlert">
            <p key="alert1" class="lang">Merci de sélectionner une proposition</p>
            <button onclick="fermer()">OK</button>
        </my-alert>
        <my-alert class="hideAlert">
            <my-p key="alert2" class="lang">Merci de sélectionner au moins une proposition</my-p>
            <button onclick="fermer1()">OK</button>
        </my-alert >
        <my-alert class="hideAlert">
            <my-div></my-div>

            <button onclick="fermer2()">OK</button>
        </my-alert>
        
        <section class="chemin">
            <div class="trait"></div>
            <div class="pts1 bigger"></div>
            <h1 key="belongings" class="lang">Mon bien</h1>
            <div class="pts2"></div>
            <h2 key="myRenov"  class="lang">Ma rénovation</h2>
            <div class="pts3"></div>
            <h2 key="myProject"  class="lang">Mon projet</h2>
            <div class="pts4"></div>
            <h2 key="myInfos"  class="lang">Mes coordonnées</h2>
            
        </section>
        


        <section id="p1" class="left0">
                <h3 class="lang" key="myReno">Je souhaite rénover :</h3>
                <div id="Q1">
                    <p class="choix"><img src="{{ assets('/assets/imgs/icone/devis/app.png') }}" alt="Image d'un appartement"><span class="R"><my-p class="lang" key="app">Un appartement</my-p></span></p>
                    
                        
                    <p class="choix"><img src="{{ assets('/assets/imgs/icone/devis/home.png') }}" alt="Image d'une maison"><span class="R"><my-p class="lang" key="house">Une maison</my-p></span></p>
                    
                        
                    <p class="choix"><img src="{{ assets('/assets/imgs/icone/devis/tipi.png') }}" alt="Image d'un tipi"><span class="R"><my-p class="lang" key="else">Autre</my-p></span></p>
                </div>
                <button type="button" class="suivant" id="s1" onclick="swip()" ><my-p class="lang" key="next">Suivant</my-p></button>
        </section>

        <section id="p2" class="left">
                <h3 class="lang" key="needs">De quoi pensez vous avoir besoin ?</h3>
                <div id="grid">
                    <p><img src="{{ assets('/assets/imgs/icone/devis/roul.png') }}" alt="Image d'un rouleau à peinture"><span class="R2"><my-p class="lang" key="revet">Revêtements</my-p></span></p>
                    <p><img src="{{ assets('/assets/imgs/icone/devis/maisFroid.png') }}" alt="Image d'une maison avec une écharpe"><span class="R2"><my-p class="lang" key="iso">Isolation</my-p></span></p>
                    <p><img src="{{ assets('/assets/imgs/icone/devis/toit.png') }}" alt="Image d'une maison avec un toit en construction"><span class="R2"><my-p class="lang" key="toit">Toiture</my-p></span></p>
                    <p><img src="{{ assets('/assets/imgs/icone/devis/mur.png') }}" alt="Image d'un mur en construction"><span class="R2"><my-p class="lang" key="constr">Construction</my-p></span></p>
                    <p><img src="{{ assets('/assets/imgs/icone/devis/sdb.png') }}" alt="Image d'une salle de bain"><span class="R2"><my-p class="lang" key="sdb">Salle de bain</my-p></span></p>
                    <p><img src="{{ assets('/assets/imgs/icone/devis/jardin.png') }}" alt="Image d'un jardin"><span class="R2"><my-p class="lang" key="exte">Extérieur</my-p></span></p>
                    <p><img src="{{ assets('/assets/imgs/icone/devis/cuisine.png') }}" alt="Image d'une cuisine"><span class="R2"><my-p class="lang" key="cuisi">Cuisine</my-p></span></p>
                    <p><img src="{{ assets('/assets/imgs/icone/devis/outils.png') }}" alt="Image d'outils"><span class="R2"><my-p class="lang" key="else">Autre</my-p></span></p>
                </div>
                
                <button type="button" class="preced" id="pre2" onclick="swi()"><my-p class="lang" key="preced">Précédent</my-p></button>
                <button type="button" class="suivant" id="s2" onclick="swipo()"><my-p class="lang" key="next">Suivant</my-p></button>
        </section>

        <section id="p3" class="left">
            <h3 class="lang" key="descrb">Décrivez-nous votre projet :</h3>
            <textarea id="descriptionProjet" name="descriptionProjet" rows="9" cols="50" maxlength="1100"></textarea>


            <button type="button" class="preced" id="pre3" onclick="sw()" ><my-p class="lang" key="preced">Précédent</my-p></button>
            <button type="button" class="suivant" id="s3" onclick="swopo()"><my-p class="lang" key="next">Suivant</my-p></button>

        </section>
        <section id="p4" class="left">
            <my-div>
                <my-p class='lang' key='devisSend' id="devisSend">Votre demande de devis a bien été envoyée</my-p>
            </my-div>

            <form action="#" method="POST" onsubmit="sender(event)" >
                <div>
                    <input type="text" id="nom1" name="nom" required>
                    <label for="nom" id="labNom1"><my-p class="lang" key="name">Votre nom : </my-p><span class="red">*</span></label>
                    <i id="iNom1"></i>
                </div>
                
                <div>
                    <input type="text" id="prenom1" name="prenom" required="required">
                    <label for="prenom" id="labPrenom1"><my-p class="lang" key="sname">Votre prénom : </my-p><span class="red">*</span></label>
                    <i id="iPrenom1"></i>
                </div>
                
                <div>
                    <input type="text" id="mail1" name="mail" required="required">
                    <label for="mail" id="labMail1"><my-p class="lang" key="mail">Votre addresse mail : </my-p><span class="red">*</span></label>
                    <i id="iMail1"></i>
                </div>
                
    
                <div>
                    <input type="text" id="tel1" name="tel" required="required">
                    <label for="tel" id="labTel1"><my-p class="lang" key="tel">Votre numéro de téléphone : </my-p><span class="red">*</span></label>
                    <i id="iTel1"></i>
                </div>
                

                <input type="hidden" id="sujet" name="sujet">

                

                <div class="g-recaptcha" data-sitekey={{gg_key}}></div>

                <input type="submit" value="OK" id="btn1" 
                 {# onclick="checkErreurs()" #}
                {# onclick="pdfMaker()"> #}
                >
            </form>

            <p>
                <my-p class="lang" key="data">En cliquant sur envoyer, vous acceptez que vos données soient traitées informatiquement par</my-p> {{siteName}}.
            
                <my-p class="lang" key="more">Pour en savoir plus : </my-p><a href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees"><my-p class="lang" key="rgpd">Cliquez ici</my-p></a>
            </p>


            <button type="button" class="preced" id="pre4" onclick="swa()" ><my-p class="lang" key="preced">Précédent</my-p></button>
        </section>
    </div>    

{% endblock %}
{% block scripts %}
    <script src="{{ assets('/assets/js/devis.js') }}"></script>
    <script src="{{ assets('/assets/js/swipe.js') }}"></script>
    <script src="{{ assets('/assets/js/devisCheckErrors.js') }}"></script>
    <script src="{{ assets('/assets/js/ajax.js') }}"></script>
    {# // <script src="{{ assets('/assets/js/pdfMaker.js') }}"></script> #}
    <script src="https://www.google.com/recaptcha/api.js" async></script>
{% endblock %}