{% extends 'layout.html.twig' %}

{% block meta %}
    <meta name="description" content="Vous ne vous y connaissez pas beaucoup en rénovation ? C My Design Projets vous propose une FAQ pour répondre à vos questions.">
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ assets('/assets/css/user/faq.css') }}">
    <link rel="stylesheet" href="{{ assets('/assets/css/mediaQ/FAQQ.css') }}">
{% endblock %}

{% block title %}
    <title>{{siteName}} ~ FAQ</title>
{% endblock %}

{% block body %}
    <my-div onclick="questions()"><img src="{{ assets('/assets/imgs/icone/left-arrow.webp') }}" > <my-p class="lang" key="seeQ">Voir les questions</my-p></my-div>
    <my-div id="quests">
        <p onclick="closeded()"><img src="{{ assets('/assets/imgs/icone/plus.webp') }}" alt="croix pour fermer" ></p>

        <details>
            <summary class="lang" key="T1">Vos travaux à nos côtés</summary>
                <p onclick="rep()" class="lang" key="T1Q1">Combien de temps est valable le devis ?</p>
                <hr>
                <p onclick="rep1()" class="lang" key="T1Q2">Une fois le devis signé quand commencent les travaux ?</p>
                <hr>
                <p onclick="rep2()" class="lang" key="T1Q3">À quelle fréquence le chef de projet me fera des retours ?</p>
                <hr>
                <p onclick="rep3()" class="lang" key="T1Q4">Le chantier sera-t-il livré habitable ?</p>
                <hr>
                <p onclick="rep4()" class="lang" key="T1Q5">Quelle sera le montant de l'accompte ?</p>
        </details>
        <details>
            <summary><my-p class="lang" key="T2">Les avantages de la rénovation</my-p> </summary>
                <p>Question 1</p>
                <hr>
                <p>Question 2</p>
                <hr>
                <p>Question 3</p>
                <hr>
                <p>Question 4</p>
                <hr>
                <p>Question 5</p>
        </details>
        <details>
            <summary><my-p class="lang" key="T3">La rénovation énergétique</my-p> </summary>
                <p>Question 1</p>
                <hr>
                <p>Question 2</p>
                <hr>
                <p>Question 3</p>
                <hr>
                <p>Question 4</p>
                <hr>
                <p>Question 5</p>
        </details>
    </my-div>
    <div id="prems">
        <section id="quest">
            <button type="button"><my-p class="lang" key="T1">Vos travaux à nos côtés</my-p><img src="{{ assets('/assets/imgs/icone/plus.webp') }}" alt="décoration pour inviter à cliquer"></button>
            <div class="hide">
                <p onclick="rep()" class="lang" key="T1Q1">Combien de temps est valable le devis ?</p>
                <hr>
                <p onclick="rep1()" class="lang" key="T1Q2">Une fois le devis signé quand commencent les travaux ?</p>
                <hr>
                <p onclick="rep2()" class="lang" key="T1Q3">À quelle fréquence le chef de projet me fera des retours ?</p>
                <hr>
                <p onclick="rep3()" class="lang" key="T1Q4">Le chantier sera-t-il livré habitable ?</p>
                <hr>
                <p onclick="rep4()" class="lang" key="T1Q5">Quelle sera le montant de l'accompte ?</p>
            </div>
            <button type="button"><my-p class="lang" key="T2">Les avantages de la rénovation</my-p><img src="{{ assets('/assets/imgs/icone/plus.webp') }}" alt="décoration pour inviter à cliquer"></button>
            <div class="hide">
                <p>Question 1</p>
                <hr>
                <p>Question 2</p>
                <hr>
                <p>Question 3</p>
                <hr>
                <p>Question 4</p>
                <hr>
                <p>Question 5</p>
                <hr>
                <p>Question 1</p>
                <hr>
                <p>Question 2</p>
                <hr>
                <p>Question 3</p>
                <hr>
                <p>Question 4</p>
                <hr>
                <p>Question 5</p>
                <hr>
                <p>Question 1</p>
                <hr>
                <p>Question 2</p>
                <hr>
                <p>Question 3</p>
                <hr>
                <p>Question 4</p>
                <hr>
                <p>Question 5</p>
            </div>
            <button type="button"><my-p class="lang" key="T3">La rénovation énergétique</my-p><img src="{{ assets('/assets/imgs/icone/plus.webp') }}" alt="décoration pour inviter à cliquer"></button>
            <div class="hide">
                <p>Question 1</p>
                <hr>
                <p>Question 2</p>
                <hr>
                <p>Question 3</p>
                <hr>
                <p>Question 4</p>
                <hr>
                <p>Question 5</p>
            </div>
    
        </section>
        <section id="rep">
            <p><my-p class="lang" key="quest">Votre question ne figure pas dans cette FAQ ?</my-p><br><br>
                <my-p class="lang" key="form">Nous vous invitons à nous contacter directement via un formulaire de contact.</my-p><br><br>
                <a href="{{path('contact')}}" class="lang" key="contactUs">Nous contacter</a>
            </p>
    
        </section>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ assets('/assets/js/faq.js') }}"></script>
    <script src="{{ assets('/assets/js/faqQ.js') }}"></script>
    <script src="{{ assets('/assets/js/multiL/lay.js') }}"></script>
    <script src="{{ assets('/assets/js/multiL/function.js') }}"></script>
{% endblock %}



{# 
    ->Themes
    TTES NOS COMPETENCES->list
    
    VOS T CHEZ NOUS->    DUREE TRAVAUX / TARIFS

    PQ RENO https://www.renovactions42.org/blog/4-bonnes-raisons-de-renover-sa-maison

    RENO ENERGETIQUE https://www.les-artisans-rge.fr/a-propos/foire-aux-questions/

    
    
    
    
    
    
    
    
    #}