{% extends 'layout.html.twig' %}

{% block meta %}
    <meta name="description" content="Vous ne vous y connaissez pas beaucoup en rénovation ? C My Design Projets vous propose une FAQ pour répondre à vos questions.">
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ assets('/assets/css/user/faq.css') }}">
    <link rel="stylesheet" href="{{ assets('/assets/css/mediaQ/FAQQ.css') }}">
{% endblock %}

{% block title %}
    <title>{{siteName}} ~ FAQ</title>
{% endblock %}

{% block body %}
    <my-div onclick="questions()"><img src="{{ assets('/assets/imgs/icone/left-arrow.png') }}" > Voir les questions</my-div>
    <my-div id="quests">
        <p onclick="closeded()"><img src="{{ assets('/assets/imgs/icone/plus.png') }}" alt="croix pour fermer" ></p>

        <details>
            <summary>Thème 1 </summary>
            <p onclick="rep()">Quest 1</p>
                <hr>
                <p onclick="rep1()">Quest 2</p>
                <hr>
                <p>dfgh</p>
                <hr>
                <p>fghjk</p>
                <hr>
                <p>fgh</p>
        </details>
        <details>
            <summary>Thème 1 </summary>
            <p onclick="rep()">Quest 1</p>
                <hr>
                <p onclick="rep1()">Quest 2</p>
                <hr>
                <p>dfgh</p>
                <hr>
                <p>fghjk</p>
                <hr>
                <p>fgh</p>
        </details>
        <details>
            <summary>Thème 1 </summary>
            <p onclick="rep()">Quest 1</p>
                <hr>
                <p onclick="rep1()">Quest 2</p>
                <hr>
                <p>dfgh</p>
                <hr>
                <p>fghjk</p>
                <hr>
                <p>fgh</p>
        </details>
    </my-div>
    <div id="prems">
        <section id="quest">
            <button type="button">Thème 1 <img src="{{ assets('/assets/imgs/icone/plus.png') }}" alt="décoration pour inviter à cliquer"></button>
            <div class="hide">
                <p onclick="rep()">Quest 1</p>
                <hr>
                <p onclick="rep1()">Quest 2</p>
                <hr>
                <p>dfgh</p>
                <hr>
                <p>fghjk</p>
                <hr>
                <p>fgh</p>
            </div>
            <button type="button">Thème 2 <img src="{{ assets('/assets/imgs/icone/plus.png') }}" alt="décoration pour inviter à cliquer"></button>
            <div class="hide">
                <p onclick="rep()">Quest 1</p>
                <hr>
                <p onclick="rep1()">Quest 2</p>
                <hr>
                <p>dfgh</p>
                <hr>
                <p>fghjk</p>
                <hr>
                <p>fgh</p>
                <hr>
                <p>dfgh</p>
                <hr>
                <p>fghjk</p>
                <hr>
                <p>fgh</p>
                <hr>
                <p>dfgh</p>
                <hr>
                <p>fghjk</p>
                <hr>
                <p>fgh</p>
                <hr>
                <p>dfgh</p>
                <hr>
                <p>fghjk</p>
                <hr>
                <p>fgh</p>
            </div>
            <button type="button">Thème 3 <img src="{{ assets('/assets/imgs/icone/plus.png') }}" alt="décoration pour inviter à cliquer"></button>
            <div class="hide">
                <p onclick="rep()">Quest 1</p>
                <hr>
                <p onclick="rep1()">Quest 2</p>
            </div>
    
        </section>
        <section id="rep">
            <p><my-p class="lang" key="quest">Votre question ne figure pas dans cette FAQ ?</my-p><br><br>
                <my-p class="lang" key="form">Nous vous invitons à nous contacter directement via un formulaire de contact.</my-p><br><br>
                <a href="{{path('contact')}}" class="lang" key="contactUs">Nous contacter</a>
            </p>
    
        </section>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ assets('/assets/js/faq.js') }}"></script>
    <script src="{{ assets('/assets/js/faqQ.js') }}"></script>
{% endblock %}



{# 
    ->Themes
    TTES NOS COMPETENCES->list
    
    VOS T CHEZ NOUS->    DUREE TRAVAUX / TARIFS

    PQ RENO https://www.renovactions42.org/blog/4-bonnes-raisons-de-renover-sa-maison

    RENO ENERGETIQUE https://www.les-artisans-rge.fr/a-propos/foire-aux-questions/

    
    
    
    
    
    
    
    
    #}