{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ assets('/assets/css/user/ML.css') }}">
{% endblock %}

{% block body %}

    <h1>Les mentions légales du site {{siteName}}</h1>

    <h2>1. Informations légales :</h2>
    <p>Le site web {{siteName}} appartient à {{siteName}}, société par actions simplifiée, au capital de 3 500 euros, immatriculée au registre du commerce et des sociétés de Strasbourg sous le numéro 91035600500017, dont le siège social est situé à 20 avenue du neuhof 67100 Strasbourg.</p>

    <p>Dirigeant mandataire : MME Brigitte NARFIN</p>
        
    <p>Contact : {{mail}}</p>

    <p>Le site a été créé par la société Infozone, ayant la forme juridique d'entrepreneur indivuel, le numéro de SIRET : 84319324400020. L'auteure du code est Madame Suray Amelyne, stagiaire chez Infozone. L'implication d'Infozone a cessé au 01 juillet 2023, lors d'une cession de droits.</p>

    <h2>2. Hébergement :</h2>

    <p>Le site web est hébergé par OVH, société par actions simplifiée au capital de 10 174 560 euros, immatriculée au registre du commerce et des sociétés de Lille sous le numéro 42476141900045, dont le siège social est situé à 2 rue Kellermann 59100 Roubaix.</p>

    <h2>3. Propriété intellectuelle :</h2>

    <p>Tous les contenus du site web, incluant les textes, les images, les vidéos, les graphismes, les logos, ainsi que leur mise en forme, sont la propriété exclusive de {{siteName}} ou de ses partenaires. Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces contenus est strictement interdite sans l'accord préalable écrit de {{siteName}}.</p>

    <h2>4. Données personnelles :</h2>

    <p>Le site web {{siteName}} collecte des informations personnelles relatives aux utilisateurs via son formulaire de demande de devis ainsi que son formulaire de contact. Les données collectées sont utilisées dans le cadre de la demande de devis et/ou de contact et sont conservées pendant une durée maximale de 3 ans. Conformément à la réglementation en vigueur, les utilisateurs disposent d'un droit d'accès, de rectification, de suppression et d'opposition des données les concernant, qu'ils peuvent exercer en contactant {{mail}}.</p>

    <h2>5. Cookies :</h2>

    <p>Le site web {{siteName}} utilise des cookies pour améliorer l'expérience utilisateur. Les cookies sont des fichiers stockés sur l'ordinateur des utilisateurs permettant de mémoriser des informations relatives à la navigation sur le site web. Les cookies servent seulement au choix de langue et aucun trackeur n'est présent.</p>

    <h2>6. Responsabilité :</h2>

    <p>Le site web {{siteName}} décline toute responsabilité en cas d'interruption du site, de problème technique ou de bug informatique. Les liens hypertextes présents sur le site web renvoyant vers des sites tiers ne sont pas sous le contrôle de {{siteName}}, qui décline toute responsabilité quant à leur contenu. Les utilisateurs sont invités à vérifier les politiques de confidentialité des sites tiers qu'ils visitent.</p>

    <h2>7. Droit applicable et litiges :</h2>

    <p>Les présentes mentions légales sont régies par le droit français. Tout litige relatif à l'utilisation du site web {{siteName}} sera soumis à la compétence exclusive des tribunaux français.</p>

    <h2>8. Responsabilité du développeur :</h2>

    <p>Le site internet a été réalisé lors d'un projet de fin d'année, la créatrice du site n'est en aucun cas responsable de ce qu'il advient du site ou de la gestion des données que fait {{siteName}}, effectivement la maintenance ne sera pas faite par la créatrice. Si vous constatez un problème sur le site, fonctionnel ou légal, veuillez contacter {{mail}}. Dès juin 2023 la créatrice se décharge de toute requête concernant le site web, et a informé le client de la nécessité de mettre à jour le code, la base de donnée, ainsi que des restrictions dont un site est entouré.</p>

    <h2>9. Attribution des images et icônes :</h2>

    <h3>Layout</h3>

    <p><a href="https://www.flaticon.com/free-icons/france" title="france icons"> drapeau France : France icons created by Freepik - Flaticon</a><br>
    <a href="https://www.flaticon.com/fr/icones-gratuites/royaume-uni" title="royaume-uni icônes">drapeau RU : Royaume-uni icônes créées par Freepik - Flaticon</a></p>
    <a href="https://www.flaticon.com/fr/icones-gratuites/facebook" title="facebook icônes">icone Fb : Facebook icônes créées par Pixel perfect - Flaticon</a><br>
    <a href="https://www.flaticon.com/free-icons/travel" title="travel icons">icone pelle : Travel icons created by Freepik - Flaticon</a>

    <h3>Accueil</h3>

    <p>Image par <a href="https://pixabay.com/fr/users/stux-12364/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1034901">Stefan Schweihofer</a> de <a href="https://pixabay.com/fr//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1034901">Pixabay</a></p>

    <a href="https://fr.freepik.com/photos-gratuite/outils-table_6356322.htm#query=renovation&position=9&from_view=search&track=sph">Image de Racool_studio sur Freepik</a><br>
    <a href="https://www.flaticon.com/free-icons/next" title="next icons">Next icons created by itim2101 - Flaticon</a><br>
    <a href="https://www.flaticon.com/free-icons/arrow" title="arrow icons">Arrow icons created by prettycons - Flaticon</a><br>
    <a href="https://www.flaticon.com/free-icons/next" title="next icons">Next icons created by Freepik - Flaticon</a><br>
    <a href="https://www.flaticon.com/free-icons/next" title="next icons">Next icons created by Roundicons - Flaticon</a>

    <h3>Animation</h3>

    <a href="https://www.flaticon.com/free-icons/paint" title="paint icons">Paint icons created by Vectors Market - Flaticon</a><br>
    <a href="https://www.flaticon.com/free-icons/boot" title="boot icons">Boot icons created by Freepik - Flaticon</a><br>
    <a href="https://www.flaticon.com/free-icons/hand" title="hand icons">Hand icons created by Freepik - Flaticon</a>

    <h3>À propos</h3>

    <a href="https://www.flaticon.com/fr/icones-gratuites/environnement" title="environnement icônes">Environnement icônes créées par Freepik - Flaticon</a><br>
    <a href="https://www.flaticon.com/fr/icones-gratuites/valeurs" title="valeurs icônes">Valeurs icônes créées par Icongeek26 - Flaticon</a><br>
    <a href="https://www.flaticon.com/free-icons/checklist" title="checklist icons">Checklist icons created by Freepik - Flaticon</a>

    <h3>FAQ</h3>

    <a href="https://www.flaticon.com/free-icons/plus" title="plus icons">Plus icons created by Becris - Flaticon</a>

    <h3>Devis</h3>

    <a href="https://www.flaticon.com/free-icons/condo" title="condo icons">Condo icons created by Freepik - Flaticon</a><br>
    <a href="https://www.flaticon.com/free-icons/real-estate" title="real estate icons">Real estate icons created by Vectorslab - Flaticon</a><br>
    <a href="https://www.flaticon.com/free-icons/tipi" title="tipi icons">Tipi icons created by Freepik - Flaticon</a><br>
    <a href="https://www.flaticon.com/fr/icones-gratuites/renovation" title="rénovation icônes">Rénovation icônes créées par Good Ware - Flaticon</a><br>
    <a href="https://www.flaticon.com/fr/icones-gratuites/fenetre" title="fenêtre icônes">Fenêtre icônes créées par Smashicons - Flaticon</a><br>
    <a href="https://www.flaticon.com/fr/icones-gratuites/isolation" title="isolation icônes">Isolation icônes créées par Smashicons - Flaticon</a><br>
    <a href="https://www.flaticon.com/fr/icones-gratuites/toit" title="toit icônes">Toit icônes créées par Futuer - Flaticon</a><br>
    <a href="https://www.flaticon.com/fr/icones-gratuites/mur-de-briques" title="mur de briques icônes">Mur de briques icônes créées par cah nggunung - Flaticon</a><br>
    <a href="https://www.flaticon.com/fr/icones-gratuites/salle-de-bains" title="salle de bains icônes">Salle de bains icônes créées par Freepik - Flaticon</a><br>
    <a href="https://www.flaticon.com/fr/icones-gratuites/jardin" title="jardin icônes">Jardin icônes créées par Freepik - Flaticon</a><br>
    <a href="https://www.flaticon.com/fr/icones-gratuites/le-fourneau" title="le fourneau icônes">Le fourneau icônes créées par Freepik - Flaticon</a><br>
    <a href="https://www.flaticon.com/free-icons/repair-kit" title="repair kit icons">Repair kit icons created by Freepik - Flaticon</a>

    <h3>PageNotFound</h3>

    <p>Image par <a href="https://pixabay.com/fr/users/semevent-4278751/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2459529">Semevent</a> de <a href="https://pixabay.com/fr//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2459529">Pixabay</a></p>

    <h3>Admin et flèche retour</h3>

    <a href="https://www.flaticon.com/free-icons/back" title="back icons">Back icons created by Google - Flaticon</a>
    

{% endblock %}