{% extends 'layout.html.twig' %}

{% block meta %}
    <meta name="description" content="Vous vous êtes perdu non ?">
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ assets('/assets/css/user/PageNotFound.css') }}">
{% endblock %}

{% block title %}
    <title>{{siteName}} ~ PageNotFound</title>
{% endblock %}

{% block body %}
    <h1>Désolé, cette page est toujours en construction</h1>
    <img src="{{ assets('/assets/imgs/icone/truck.png') }}" alt="ceci est à camion qui livre du béton" class="a1">

    {# sot #}
    <img src="{{ assets('/assets/imgs/icone/bucket.png') }}" alt="ceci est à camion qui livre du béton" class="sot c1">
    <img src="{{ assets('/assets/imgs/icone/bucket.png') }}" alt="ceci est à camion qui livre du béton" class="sot c2">
    <img src="{{ assets('/assets/imgs/icone/bucket.png') }}" alt="ceci est à camion qui livre du béton" class="sot c3">


    {# les briques #}
    <img src="{{ assets('/assets/imgs/icone/brick.jpg') }}" alt="ceci est une brique" class="brick b1">
    <img src="{{ assets('/assets/imgs/icone/brick.jpg') }}" alt="ceci est une brique" class="brick b2">
    <img src="{{ assets('/assets/imgs/icone/brick.jpg') }}" alt="ceci est une brique" class="brick b3">
    <img src="{{ assets('/assets/imgs/icone/brick.jpg') }}" alt="ceci est une brique" class="brick b4">
    <img src="{{ assets('/assets/imgs/icone/brick.jpg') }}" alt="ceci est une brique" class="brick b5">
    <img src="{{ assets('/assets/imgs/icone/brick.jpg') }}" alt="ceci est une brique" class="brick b6">
    <img src="{{ assets('/assets/imgs/icone/brick.jpg') }}" alt="ceci est une brique" class="brick b7">
    <img src="{{ assets('/assets/imgs/icone/brick.jpg') }}" alt="ceci est une brique" class="brick b8">
    <img src="{{ assets('/assets/imgs/icone/brick.jpg') }}" alt="ceci est une brique" class="brick b9">
    <img src="{{ assets('/assets/imgs/icone/brick.jpg') }}" alt="ceci est une brique" class="brick b10">
    <img src="{{ assets('/assets/imgs/icone/brick.jpg') }}" alt="ceci est une brique" class="brick b11">
    <img src="{{ assets('/assets/imgs/icone/brick.jpg') }}" alt="ceci est une brique" class="brick b12">
    <img src="{{ assets('/assets/imgs/icone/brick.jpg') }}" alt="ceci est une brique" class="brick b13">
    <img src="{{ assets('/assets/imgs/icone/brick.jpg') }}" alt="ceci est une brique" class="brick b14">
    <img src="{{ assets('/assets/imgs/icone/brick.jpg') }}" alt="ceci est une brique" class="brick b15">
    
{% endblock %}


