<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="robots" content="noindex">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Espace admin réservé aux admins">
    <title>Espace Admin</title>

    <link rel="stylesheet" href="{{ assets('/assets/css/admin/adminLayout.css') }}">
    <link rel="stylesheet" href="{{ assets('/assets/css/toasts.css') }}">
    <link rel="shortcut icon" href="{{ assets('/assets/imgs/logo/logo.svg') }}" />
    {% block stylesheet %}

    {% endblock %}
</head>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,400;1,600&display=swap');
</style>
<body>
    <header>
        <ul>
            <li><a href="{{path('accueilAdmin')}}">Accueil</a></li>
            <li><a href="{{path('pageDevis')}}">Mes devis</a></li>
            <li><a href="{{path('pageMessages')}}">Mes messages</a></li>
            <li><a href="{{path('prospects')}}">Mes prospects</a></li>
            <li><a href="{{path('adminChantiers')}}">Mes chantiers</a></li>
            <li><a href="{{path('deco')}}">Déconnection</a></li>
        </ul>
    </header>
    <main>
        {% if hasToast() %}
        {% for toast in renderToast() %}
        {{ toast | raw}}
        {% endfor %}
        {% endif %}

        {% block body %}
        <!-- inserer page ici -->
        {% endblock %}
    </main>
    
</body>
</html>
<script src="{{ assets('/assets/js/activeAdmin.js') }}"></script>
<script src="{{ assets('/assets/js/toasts.js') }}"></script>