<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ assets('/assets/css/layout.css') }}">
    <link rel="stylesheet" href="{{ assets('/assets/css/toasts.css') }}">
    <link rel="stylesheet" href="{{ assets('/assets/css/mediaQ/layoutQ.css') }}">
    <link rel="shortcut icon" href="{{ assets('/assets/imgs/logo/logo.svg') }}" />
    {% block meta %}

    {% endblock %}
    {% block stylesheet %}

    {% endblock %}
    {% block title %}

    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
</head>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,400;1,600&display=swap');
</style>
<body>
    <header>

        <nav>
            {# en js faire un set attribute pour bold la class active ? #}
            <a href="{{path('accueil')}}"><img src="{{ assets('/assets/imgs/logo/logo.svg') }}" id="logo" alt="Logo de l'entreprise"></a>
            <ul>
                <li><a href="{{path('accueil')}}" key="accueil"  class="lang" >accueil</a></li>
                <li><a href="{{path('aPropos')}}"  class="lang" key="aProp">à propos</a></li>
                <li><a href="{{path('chantiers')}}"  class="lang" key="chantiers">Nos chantiers</a></li>
                <li><a href="{{path('devis')}}"  class="lang" key="devis">devis en ligne</a></li>
                <li><a href="{{path('faq')}}"  class="lang" key="faq">FAQ</a></li>
                <li ><a href="{{path('contact')}}" class="lang" key="contact">contact</a></li>
            </ul>
        </nav>
        {# drapeaux choix de la langue #}
        <div>
            <button type="button" class="langue" id="fr"><img src="{{ assets('/assets/imgs/icone/france.png') }}" alt="drapeau français"></button>
            <p>|</p>
            <button type="button" class="langue" id="en"><img src="{{ assets('/assets/imgs/icone/royaume-uni.png') }}" alt="drapeau anglais"></button>
        </div>

        {# burger #}
        <section id="burger">
            <img src="{{ assets('/assets/imgs/icone/burg.png') }}" alt="barre du menu burger">
            <img src="{{ assets('/assets/imgs/icone/burg.png') }}" alt="barre du menu burger">
            <img src="{{ assets('/assets/imgs/icone/burg.png') }}" alt="barre du menu burger">
        </section>

    </header>
    {# burger #}
    <section id="menuBurg" class="cacheToi">
        <ul>
            <li><a href="{{path('accueil')}}" key="accueil"  class="lang" >accueil</a></li>
            <hr>
            <li><a href="{{path('aPropos')}}"  class="lang" key="aProp">à propos</a></li>
            <hr>
            <li><a href="{{path('chantiers')}}"  class="lang" key="chantiers">Nos chantiers</a></li>
            <hr>
            <li><a href="{{path('devis')}}"  class="lang" key="devis">devis en ligne</a></li>
            <hr>
            <li><a href="{{path('faq')}}"  class="lang" key="faq">FAQ</a></li>
            <hr>
            <li ><a href="{{path('contact')}}" class="lang" key="contact">contact</a></li>
        </ul>
        <div>
            <button type="button" class="langue" id="fr"><img src="{{ assets('/assets/imgs/icone/france.png') }}" alt="drapeau français"></button>
            <p>|</p>
            <button type="button" class="langue" id="en"><img src="{{ assets('/assets/imgs/icone/royaume-uni.png') }}" alt="drapeau anglais"></button>
        </div>
    </section>

    <main>
        {% if hasToast() %}
            {% for toast in renderToast() %}
            {{ toast | raw}}
            {% endfor %}
        {% endif %}
        {% block body %}
            
        <!-- inserer page ici -->
        {% endblock %}
    </main>

    <footer>

        <div id="scroll_to_top"> 
            <a href="#top"> <img src="{{ assets('/assets/imgs/icone/arrowTop.png') }}" alt="icone pour remonter en haut de la page"></a>
        </div>
        <section id="infosContact">
            <p>20 avenue du Neuhof</p>
            <p>67100 Strasbourg</p>
            <a href="tel:+33612290623">06 12 29 06 23</a>
        </section>
        <nav>
            <ul>
                <li><a href="{{path('accueil')}}"  class="lang" key="accueil">Accueil</a></li>
                <p>|</p>
                <li><a href="{{path('aPropos')}}"  class="lang" key="aProp">À propos</a></li>
                <p>|</p>
                <li><a href="{{path('chantiers')}}"  class="lang" key="chantiers">Nos chantiers</a></li>
                <p>|</p>
                <li><a href="{{path('devis')}}"  class="lang" key="devis">Devis en ligne</a></li>
                <p>|</p>
                <li><a href="{{path('faq')}}"  class="lang" key="faq">FAQ</a></li>
                <p>|</p>
                <li><a href="{{path('contact')}}"  class="lang" key="contact">Contact</a></li>
            </ul>
        </nav>
        {# lien FB #}
        <a href="https://www.facebook.com/BrigitteKevinWilson" id="fb"><img src="{{ assets('/assets/imgs/icone/fb.png') }}" alt="icone facebook"></a>
        {# copyright, permet aussi accès mentions legales #}
        <a href="{{path('mentionsLeg')}}" id="copyrigth">&copy; 2023 ~ Cmydesignprojets</a>

    </footer>
    {% block scripts %}
    
    {% endblock %}
    <script src="{{ assets('/assets/js/active.js') }}"></script>
    <script src="{{ assets('/assets/js/toasts.js') }}"></script>
    <script src="{{ assets('/assets/js/multiL/lay.js') }}"></script>
    <script src="{{ assets('/assets/js/multiL/function.js') }}"></script>
    <script src="{{ assets('/assets/js/burger.js') }}"></script>
</body>
</html>
{# alt <gr></gr>
<7></7> #}